@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Upheavel';
  src: url('/fonts/upheavel.ttf');
}

@layer base {
  :root {
    font-family: 'Upheavel', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul li {
    margin-bottom: 0.5rem;
  }
  ul li:last-child {
    margin-bottom: 0;
  }

  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #2563eb transparent; /* Firefox */
  }

  /* For WebKit browsers (Chrome, Safari) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2563eb;
    border-radius: 10px;
  }

  .tw-connect-wrapper > button {
    @apply rounded-md shadow-sm shadow-gray-600 px-4 py-1 text-base md:text-lg;
  }
}
